// /* CSS HEX */
// --smoky-black: #171511ff;
// --coyote: #8a6a42ff;
// --citron: #ddc468ff;
// --moss-green: #a29f52ff;
// --bone: #dfd9cdff;

// /* SCSS HEX */
// $smoky-black: #171511ff;
// $coyote: #8a6a42ff;
// $citron: #ddc468ff;
// $moss-green: #a29f52ff;
// $bone: #dfd9cdff;

// /* SCSS HSL */
// $smoky-black: hsla(40, 15%, 8%, 1);
// $coyote: hsla(33, 35%, 40%, 1);
// $citron: hsla(47, 63%, 64%, 1);
// $moss-green: hsla(58, 33%, 48%, 1);
// $bone: hsla(40, 22%, 84%, 1);

// /* SCSS RGB */
// $smoky-black: rgba(23, 21, 17, 1);
// $coyote: rgba(138, 106, 66, 1);
// $citron: rgba(221, 196, 104, 1);
// $moss-green: rgba(162, 159, 82, 1);
// $bone: rgba(223, 217, 205, 1);

// /* SCSS Gradient */
// $gradient-top: linear-gradient(0deg, #171511ff, #8a6a42ff, #ddc468ff, #a29f52ff, #dfd9cdff);
// $gradient-right: linear-gradient(90deg, #171511ff, #8a6a42ff, #ddc468ff, #a29f52ff, #dfd9cdff);
// $gradient-bottom: linear-gradient(180deg, #171511ff, #8a6a42ff, #ddc468ff, #a29f52ff, #dfd9cdff);
// $gradient-left: linear-gradient(270deg, #171511ff, #8a6a42ff, #ddc468ff, #a29f52ff, #dfd9cdff);
// $gradient-top-right: linear-gradient(45deg, #171511ff, #8a6a42ff, #ddc468ff, #a29f52ff, #dfd9cdff);
// $gradient-bottom-right: linear-gradient(135deg, #171511ff, #8a6a42ff, #ddc468ff, #a29f52ff, #dfd9cdff);
// $gradient-top-left: linear-gradient(225deg, #171511ff, #8a6a42ff, #ddc468ff, #a29f52ff, #dfd9cdff);
// $gradient-bottom-left: linear-gradient(315deg, #171511ff, #8a6a42ff, #ddc468ff, #a29f52ff, #dfd9cdff);
// $gradient-radial: radial-gradient(#171511ff, #8a6a42ff, #ddc468ff, #a29f52ff, #dfd9cdff);

// primary colors
$cp-smoky-black: #171511ff;
$cp-coyote: #8a6a42ff;
$cp-citron: #ddc468ff;
$cp-moss-green: #a29f52ff;
$cp-bone: #dfd9cdff;
$cp-dark-grey: #3e3e3e;
$cp-grey: #898989;
$cp-light-grey: #b9b9b9;


// font colors
$cf-smoky-black: #171511ff;
$cf-coyote: #8a6a42ff;
$cf-citron: #ddc468ff;
$cf-bone: #dfd9cdff;

// font-size
$fs-heading-large: 3.2rem;
$fs-heading-medium: 2.7rem;
$fs-heading-small: 2.2rem;
$fs-paragraph-large: 1.8rem;
$fs-paragraph-medium: 1.6rem;
$fs-paragraph-small: 1.4rem;
$fs-btn-large: 2rem;
$fs-btn-medium: 1.8rem;
$fs-btn-small: 1.6rem;

// border-radius
$br-large: .25rem;
$br-medium: .5rem;
$br-small: 1rem;

// box-shadow
$bs-dark: 0 0 5px 2px rgba(0, 0, 0, .3);
$bs-btn: 0px 1px 2px 1px rgba(0, 0, 0, .5);
$bs-btnHover: 0px 3px 4px 2px rgba(0, 0, 0, .5);

// margin
$m-large: 5rem;
$m-medium: 2.5rem;
$m-small: 1rem;

// padding
$p-large: 5rem;
$p-medium: 2.5rem;
$p-small: 1rem;





