// main.scss

// Abstracts (variables, mixins)
@use "./abstracts/index.scss" as *;

// Base styles
@use "./base/index.scss" as *;

// Layout
@use "./layout/index.scss" as *;

// Components
@use "./components/index.scss" as *;

// Pages
@use "./abstracts/index.scss" as *;
