@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.header {
	@include displayFlexColumn;
	justify-content: flex-start;
	background: linear-gradient(to top right, rgba(185, 151, 116, 0.1), rgba(207, 182, 156, 0.9) 5%, rgba(255, 255, 255, 0.9) 85%, rgba(255, 255, 255, 0.8) 95%);
	width: 100%;
	&__heroSection {
		@include displayFlexColumn;
		justify-content: flex-start;
		padding: 3rem 1rem;
		box-shadow: 0 5px 18px 4px rgba($cp-smoky-black, 0.65);
	}
	&__heroSectionContentContainer {
		@include displayFlexColumn;
		gap: 2rem;
		width: min(100%, 45rem);
	}
	&__heroLogoImage {
		display: block;
		width: 17rem;
		height: auto;
	}
	@include respond(tab-land) {
		&__heroSectionContentContainer {
			width: min(100%, 75rem);
			padding: 3rem 5rem;
		}
		&__heroLogoImage {
			width: 20rem;
		}
	}
	@include respond(desk) {
		&__heroSectionContentContainer {
			width: min(100%, 90rem);
		}
	}
}
