@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.navbarSection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $cp-smoky-black;
	padding: 1rem 2rem;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	transition: all 0.6s;
	@include respond(tab-port) {
		padding: 1rem 4rem;
	}
	@media (min-width: 2000px) {
		margin: 0 auto;
		max-width: 2000px;
	}
}
.navbar--background {
	background-color: $cp-smoky-black;
	border-bottom: 1px solid $cp-citron;
}
