@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.btn {
	border: 1px solid $cp-grey;
	border-bottom: 1px solid $cp-dark-grey;
	border-right: 1px solid $cp-dark-grey;
	border-radius: $br-medium;
	box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.35);

	width: fit-content;

	padding: 0.6em 0.85em;
	margin: 0 auto;

	cursor: pointer;
	backface-visibility: hidden;
	transition: all 0.2s;

	&:link,
	&:visited {
		text-decoration: none;
		transform: translateY(0px);
	}

	&:active {
		border-bottom: 2px solid $cp-grey;
		border-right: 2px solid $cp-grey;
		box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
		transform: translateY(-1px);
	}

	&--primary-coyote {
		background-color: $cp-coyote;
		margin-top: 1rem;
	}

	&--secondary-coyote {
		background-color: transparent;
		border: 2px solid $cp-coyote;
	}
}
