@use "../abstracts/mixins" as *;

.divLink {
	position: absolute;
	top: 0rem;
	left: 0;
	&--about {
		top: -40rem;
	}
	&--accomm,
	&--activities,
	&--gallery,
	&--testimonials,
	&--socialMedia,
	&--contact,
	&--directions {
		top: -7rem;
	}
	@include respond(tab-land) {
		&--about {
			top: -50rem;
		}
	}
	@include respond(desk) {
		&--about {
			top: -60rem;
		}
	}
	@include respond(big-desk) {
		&--about {
			top: -70rem;
		}
	}
}
