@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	gap: 0.5rem;
	border: 2px solid $cp-coyote;
	box-shadow: 0 0 55px 2px rgba($cp-smoky-black, 0.45);
	width: 100%;
	max-width: 800px; /* Adjust as needed */
	margin: 0 auto;
	padding: 0.5rem;
}
.grid-container--cabin {
	grid-template-rows: repeat(2, 1fr);
}
.grid-container--bird {
	grid-template-rows: repeat(2, 1fr);
}
.grid-container--explore {
	grid-template-rows: repeat(3, 1fr);
}
.grid-container--bushcamp {
	grid-template-rows: repeat(2, 1fr);
}
.grid-container--barandboma {
	grid-template-rows: repeat(2, 1fr);
}
.grid-container--shooting {
	grid-template-rows: repeat(2, 1fr);
}
.grid-item {
	position: relative;
	overflow: hidden;
}
.grid-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.img--singleImgGrid {
	border: 2px solid $cp-coyote;
	box-shadow: 0 0 55px 2px rgba($cp-smoky-black, 0.45);
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	object-fit: cover;
}

/* Adjust based on number of photos */
.photo1--cabin {
	grid-column-start: 7;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 2;
}
.photo2--cabin {
	grid-column: 1 / 7;
	grid-row-start: 1;
	grid-row-end: 2;
}
.photo3--cabin {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}
.photo4--cabin {
	grid-column-start: 5;
	grid-column-end: 9;
	grid-row-start: 2;
	grid-row-end: 3;
}
.photo5--cabin {
	grid-column-start: 9;
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: 3;
}
.photo1--bird {
	grid-column-start: 7;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 2;
}
.photo2--bird {
	grid-column: 1 / 7;
	grid-row-start: 1;
	grid-row-end: 2;
}
.photo3--bird {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}
.photo4--bird {
	grid-column-start: 5;
	grid-column-end: 9;
	grid-row-start: 2;
	grid-row-end: 3;
}
.photo5--bird {
	grid-column-start: 9;
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: 3;
}
.photo1--explore {
	grid-column: 1 / -1;
	grid-row-start: 1;
	grid-row-end: 2;
}
.photo2--explore {
	grid-column: 1 / 7;
	grid-row-start: 2;
	grid-row-end: 3;
}
.photo3--explore {
	grid-column: 7 / -1;
	grid-row-start: 2;
	grid-row-end: 3;
}
.photo4--explore {
	grid-column: 1 / 5;
	grid-row-start: 3;
	grid-row-end: 4;
}
.photo5--explore {
	grid-column: 5 / 9;
	grid-row-start: 3;
	grid-row-end: 4;
}
.photo6--explore {
	grid-column: 9 / -1;
	grid-row-start: 3;
	grid-row-end: 4;
}
.photo1--bushcamp {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 2;
}
.photo2--bushcamp {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 3;
}
.photo3--bushcamp {
	grid-column-start: 7;
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: 3;
}
.photo1--barandboma {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 2;
}
.photo2--barandboma {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 3;
}
.photo3--barandboma {
	grid-column-start: 7;
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: 3;
}
.photo1--shooting {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 2;
}
.photo2--shooting {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 3;
}
.photo3--shooting {
	grid-column-start: 7;
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: 3;
}
@include respond(tab-land) {
	.grid-container {
		flex: 1 0 30%;
	}
	.grid-container--cabin {
		max-height: 25rem;
	}
	.grid-container--bushcamp {
		max-height: 20rem;
		order: 1;
	}
	.grid-container--barandboma {
		max-height: 17rem;
	}
	.grid-container--explore {
		max-height: 25rem;
	}
	.grid-container--parking {
		order: 2;
	}
	.img--parking {
		order: 2;
	}
	.grid-container--bird {
		min-height: 25rem;
		order: 2;
	}
	.grid-container--shooting {
		max-height: 20rem;
	}
	.img--bushveldTv {
		max-height: 20rem;
		order: 2;
	}
	.paragraph--gallery {
		order: 2;
	}
	.img--singleImgGrid {
		width: 35%;
	}
}
