@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.imgComp {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 97%, 65% 100%, 45% 90%, 25% 97%, 0 92%);
	position: relative;
	&__img {
		display: block;
		width: 100%;
		height: auto;
	}
	&__txt {
		position: absolute;
		bottom: 20%;
		left: 0;
		right: 0;
	}
}
