@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

// basic reset
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	scroll-behavior: smooth;
	/* 	10px / 16px *100 = 62.5% */
	font-size: 62.5%; // 1rem = 10px
	@include respond(tab-port) {
		/* 	11px / 16px *100 = 68.75% */
		font-size: 68.75%; // 1.6rem = 17.6px
	}
	@include respond(tab-land) {
		/* 	12px / 16px *100 = 75% */
		font-size: 75%; // 1.6rem = 19.2px
	}
	@include respond(desk) {
		/* 	13px / 16px *100 = 81.25% */
		font-size: 81.25%; // 1.6rem = 20.8px
	}
	@include respond(big-desk) {
		/* 	15px / 16px *100 = 93.75% */
		font-size: 93.75%; // 1.6rem = 24px
	}
}
body {
	@include displayFlexColumn;
	// gap: 5rem;
	background-color: $cp-bone;
	box-sizing: border-box;
}
ol,
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
a,
button {
	cursor: pointer;
}
