@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

// font-family: "Inika", serif; weight: 400 & 700; -----> Heading, h1
// font-family: "Protest Riot", sans-serif; weight: 400; -----> Heading, h2
// font-family: "Lato", sans-serif; weight: 400 & 700 -----> Headings & Body Text, h3, h4, h5 & p
body {
	color: $cf-smoky-black;
	font-family: "Lato", sans-serif;
	font-size: clamp(1.4rem, 4.5vw, 1.6rem);
	font-weight: 400;
	line-height: 1.4;
	text-align: justify;
}
.logo {
	color: $cf-citron;
	font-family: "Inika", serif;
	font-size: clamp(1.4rem, 4.5vw, 1.6rem);
	font-weight: 700;
	line-height: 1.2;
	text-align: left;
	text-decoration: underline;
	text-underline-offset: 3px;
	&__textTop {
		font-size: clamp(1.5rem, 4.5vw, 1.7rem);
	}
}
.navLink {
	color: $cf-citron;
	font-family: "Lato", sans-serif;
	font-size: clamp(1.4rem, 4.5vw, 1.6rem);
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	text-decoration: underline;
	text-underline-offset: 3px;
}
.headingH2 {
	color: $cf-smoky-black;
	font-family: "Protest Riot", sans-serif;
	font-size: clamp(2.6rem, 6.5vw, 2.8rem);
	font-weight: 400;
	line-height: 1;
	text-align: center;
	&--about {
		color: $cf-bone;
	}
}
.headingH3 {
	color: $cf-smoky-black;
	font-family: "Lato", sans-serif;
	font-size: clamp(2rem, 5vw, 2.2rem);
	font-weight: 700;
	line-height: 1;
	text-align: center;
	&--footer {
		color: $cf-coyote;
	}
	@include respond(tab-land) {
		&--footer {
			text-align: left;
		}
	}
}
.headingH4 {
	color: $cf-smoky-black;
	font-family: "Lato", sans-serif;
	font-size: clamp(1.6rem, 4.5vw, 1.8rem);
	font-weight: 400;
	line-height: 1;
	text-align: center;
	&--footer {
		color: $cf-citron;
		text-transform: lowercase;
	}
	@include respond(tab-land) {
		&--footer {
			text-align: left;
		}
	}
}
.paragraph {
	&--heroIntro {
		font-family: "Protest Riot", sans-serif;
		font-size: clamp(2rem, 5.5vw, 2.3rem);
	}
	&--imgComp {
		color: $cf-bone;
		font-family: "Lato", sans-serif;
		font-size: clamp(1.8rem, 5vw, 2rem);
		font-weight: 700;
		text-shadow: 0px 0px 5px rgba($cp-smoky-black, 1);
		line-height: 1;
		text-align: center;
	}
	&--footer {
		font-weight: 700;
	}
}
.btn {
	&--primary-coyote {
		color: $cf-bone;
		font-family: "Lato", sans-serif;
		font-size: clamp(1.6rem, 4.7vw, 1.8rem);
		font-weight: 700;
		text-shadow: 0px 0px 5px rgba($cp-smoky-black, 1);
		line-height: 1;
		text-align: center;
	}
}
.carouselAccomm {
	&__carouselFigcaptionParagraph {
		color: $cf-bone;
		font-family: "Lato", sans-serif;
		font-size: clamp(1.8rem, 5vw, 2rem);
		font-weight: 700;
		text-shadow: 0px 0px 5px rgba($cp-smoky-black, 1);
		line-height: 1;
		text-align: left;
	}
}
.sidebar {
	&__contactAddressContainer {
		font-style: normal;
	}
	&__contactContactNrLink {
		color: $cf-coyote;
		font-weight: 700;
		text-decoration: underline;
		text-underline-offset: 3px;
	}
}
.footer {
	color: $cf-bone;
	&__footerNavlink,
	&__footerDeveloperLink,
	&__websiteUsageLink {
		color: $cf-citron;
		font-weight: 700;
		text-decoration: underline;
		text-underline-offset: 3px;
	}
	&__footerNavitem,
	&__footerTermsAndConditions,
	&__footerPrivacyPolicy,
	&__footerDeveloper {
		text-align: center;
	}
	&__footerCopyright {
		font-size: clamp(1.5rem, 4.5vw, 1.7rem);
		font-weight: 700;
	}
	@include respond(tab-land) {
		&__footerNavitem,
		&__footerTermsAndConditions,
		&__footerPrivacyPolicy,
		&__footerDeveloper {
			text-align: left;
		}
		&__footerTermsAndConditions,
		&__footerPrivacyPolicy,
		&__footerDeveloper {
			text-align: right;
		}
	}
}
